.modal {
  position: fixed;
  left: 50%;
  top: 55%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  width: 98%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  backdrop-filter: blur(4px); /* Apply a blur effect to the backdrop */
  z-index: 2; /* Place it behind the modal */
}
